name: CI

on: [push, pull_request]

jobs:
  lua:
    strategy:
      fail-fast: false
      matrix:
        os: [linux, macos, macos-arm64]
        lua: [lua=5.4]
        include:
        - os: linux
          runner: ubuntu-latest
        - os: macos
          runner: macos-15-intel
        - os: macos-arm64
          runner: macos-latest
    name: ${{ matrix.os }} (${{ matrix.lua }})
    runs-on: ${{ matrix.runner }}
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v6
      - name:  Install libreadline on linux
        run:   |
               if [ "$RUNNER_OS" == "Linux" ]; then
                    sudo apt-get install -y libreadline-dev
               fi
        shell: bash
      - name: Install Lua (${{ matrix.lua }})
        run: |
          pip install git+https://github.com/luarocks/hererocks
          hererocks -r^ --${{ matrix.lua }} lua_install
          echo lua_install/bin >> $GITHUB_PATH

      - name: Install tree-sitter-cli via LuaRocks
        run: |
          luarocks make

      - name: Try running tree-sitter
        run: |
          tree-sitter --version

  windows:
    strategy:
      fail-fast: false
      matrix:
        lua: [lua=5.4]
        target: [mingw,vs]
    runs-on: windows-2022
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v6
      - name: Install Lua (${{ matrix.lua }})
        run: |
          pip install git+https://github.com/luarocks/hererocks
          hererocks lua_install -r^ --${{ matrix.lua }} --target ${{ matrix.target }}

      - name: Install tree-sitter-cli via LuaRocks
        run: |
          .\lua_install\bin\activate
          luarocks install luarocks-build-tree-sitter-cli --dev
          luarocks make --deps-mode none

      - name: Try running tree-sitter
        run: |
          .\lua_install\bin\activate
          tree-sitter.exe --version
